#nav-bar{
    width: 100%;

}
#nav-bar a{
    float: right;
}
.navbar-brand img{
    height: 80px;
    padding-left: 30px;
}



.map{
    margin-right: 2cm;
}

.servicios {
    margin-top: 2cm;
    margin-bottom: 2cm;
    text-align: center;
}



#navbar{
    padding-bottom: 3em;
}

.navbar-nav li {
    display: inline-block;
    padding: 15px 0;
}
    .navbar-nav a{
    padding: 1em;
   color: #e48231d5 !important;
   text-decoration: none; 
   float: right;
   }
    .navbar-nav a:hover{
        background-color: rgba(231, 135, 135, 0.164);
    }

.footer__about{
    padding-top: 2cm;
    text-align: justify;

}
h6{
    text-align: center;
}


.footer__newsletter {
    padding-left: 50px;
    margin-bottom: 30px;
    padding-top: 2cm;
  }
  
  
  .form button {
    font-size: 20px;
    color: #f08632;
    background: transparent;
    border: 1px;
   
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 20px;
  }

  .form input{
      
    height: 50px;
    width: 100%;
    padding-left: 22px;
    background: rgba(146, 77, 20, 0.048);
    border: 3px;
    color: #ffffff;
    font-size: 14px;
  }
 


  
 #formagenadar{
    
     background-color: #e48231d5;
     border-radius: 25px;
     color: rgb(10, 148, 136);
    margin-top: 5px;
    padding: 2em;
 }
 #formagenadar input{
     border-color:#fffb09;
     border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    
 }

 .footer{
     background-color: #f08632;
 }


.navbar {
      background-color:#ffffff;}

html body{
    background-color: #ffffff;
        margin: 0;
}

.footer__newslatter form input {
    height: 50px;
    width: 100%;
    padding-left: 22px;
    background: rgba(253, 243, 234, 0.2);
    border: none;
    color: #ffffff;
    font-size: 14px;


}

.adminbg img {
    width: 100%;
    height: auto;
  }

  #formpaciente{
      padding: 2em;
  }

  #formpaciente input{
    border-color: #f08632;
  }
  #formpaciente select{
    border-color: #f08632;
  }
  #formpaciente textarea{
    border-color: #f08632;
  }