#nav-bar{
position: sticky;
top: 0;
z-index: 10;
;
}

.navbar-brand img{
    height: 70px;
    padding-left: 30px;
}

.navbar-nav li{

padding: 30px;
}


.map{
    margin-right: 2cm;
}

.servicios {
    margin-top: 2cm;
    margin-bottom: 2cm;
    text-align: center;
}

body {
    background-color:rgba(248,244,241,255);
}

footer{
    background-color: rgba(248, 206, 20, 0.39);
}

.navbar-nav li {
    display: inline-block;
    padding: 15px 0;
}
    .navbar-nav a{
    padding: 1em;
   color: rgb(69, 24, 141) !important;
   text-decoration: none; 
   }
    .navbar-nav a:hover{
        background-color: rgba(231, 135, 135, 0.164);
    }