#nav-bar{
position: sticky;
top: 0;
z-index: 10;
;
}

.navbar-brand img{
    height: 50px;
    padding-left: 30px;
}

.navbar-nav li{

padding: 30px;
}

.navbar-nav li a{
    float: right;
}

#nav-bar ul li a:hover {
 color: rgb(168, 126, 132);
}


.nav-link{
    font-weight: 600;
    font-size: 16px;
   
}

.navbar-nav{
    border: none !important;
}

.footer{
    padding-top: 60px;
}
.contactform{
    margin-left: 2cm;
    margin-top: 2cm;
    margin-right: 2cm;
}

.map{
    margin-right: 2cm;
}

.servicios {
    margin-top: 2cm;
    margin-bottom: 2cm;
    text-align: center;
}